.arrow-icon
{
    width: .85em;
    height: .85em;
    transform: rotate(-90deg);
    margin-inline: 3px;
}


.result-icon
{
    --background-size: 24px;
    width: var(--background-size);
    height: var(--background-size);

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px currentColor;
    border-radius: 50%;
}
.result-icon::before
{
    content: '⋯';
}